
<!DOCTYPE html>
<html lang="en">
<%- include('./components/head') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

  <body style="background-color: #0a0a0a3f">
    <div style="background-color: #0a0a0a3f" class="container-scroller">
      <div style="background-color: #0a0a0a3f" class="container-fluid page-body-wrapper full-page-wrapper">
        <div style="background-color: #0a0a0a3f" class="row w-100 m-0">
          <div style="background-color: #0a0a0a3f" class="content-wrapper full-page-wrapper d-flex align-items-center">
            <div style="background-color: #0a0a0a3f;" class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <form>
                  <div class="text-center">
                    <br>
                    <center>
                      <p style="font-family: 'Roboto Mono', monospace;">Authentication Page</p>
                      <h3><bold>Welcome to <%= settings.name %>!</bold></h3>
                    </center>
                    <br>
                    <a role="button" style="background-color: #0302533f; font-size: 18px;" class="btn btn-primary btn-lg" href="<%= extra.home.buttontext.loggedout.link %>">Login</a>
                    <br><br>
                    <h5 class="text-gray">By logging in, you agree to the <a href="../tos">Terms of Service</a> and <a href="../pp">Privacy Policy</a></h5>
                    <br>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('./components/scripts') %>
  </body>

</html>
