<!DOCTYPE html>
<html lang="en">

<%- include('./components/head') %>

<body class="bg-zinc-900 bg-cover bg-center bg-no-repeat" style="background-image: url('https://r4.wallpaperflare.com/wallpaper/853/586/450/universe-abstract-cube-gradient-wallpaper-6920483dc13a7d2b3657880f4071d63d.jpg');">
  <section class="items-center text-center">
    <div class="w-screen h-screen backdrop-blur-sm flex flex-col gap-5 justify-between p-5">
      <div class="flex flex-row items-center justify-center h-full md:gap-10 lg:gap-72 flex-wrap">

        <div class="relative mt-12 group w-full border-l border-pink-500/50 max-w-sm rounded-xl  bg-zinc-800 border border-zinc-500 shadow-2xl shadow-transparent/40">
          <div class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"></div>
          <div class="relative p-8 rounded-lg bg-zinc-800">
            <div class="flex flex-col h-full text-white items-center justify-center">
        <img class="w-28 floating" src="<%= settings.logo %>">
      </div>
            <h3 class="text-2xl mt-4 font-semibold text-gray-700 dark:text-white">Authentication</h3>
            <button class="relative w-full mt-7 inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br to-cyan-500 from-pink-500 group-hover:to-cyan-500 group-hover:from-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 shadow-lg shadow-pink-500/50">
                    <a href="/login" class="relative w-full px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-zinc-800 rounded-md group-hover:bg-opacity-0">
    Login with Discord
</a>
                  </button>
                  </div>
          </div>
      </div>
    </div>
  </section>
</body>

</html>