<nav class="header before:bg-white dark:before:bg-zinc-800 print:hidden">
  <!-- App Header  -->
  <div class="header-container relative flex w-full bg-gradient-to-b from-white dark:from-zinc-800 to-transparent print:hidden">
    <!-- Header Items -->
    <div class="flex w-full items-center justify-between">
      <!-- Left: Sidebar Toggle Button -->
      <div class="h-7 w-7">
        <button class="menu-toggle flex h-7 w-7 flex-col justify-center space-y-1.5 text-white outline-none focus:outline-none dark:text-accent-white/80" :class="$store.global.isSidebarExpanded &amp;&amp; &#39;active&#39;" @click="$store.global.isSidebarExpanded = !$store.global.isSidebarExpanded">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="flex flex-col items-center space-y-3 py-3">

        <!-- Profile -->
        <div x-data="usePopper({placement:'right-end',offset:12})" @click.outside="isShowPopper && (isShowPopper = false)" class="flex">
          <button @click="isShowPopper = !isShowPopper" x-ref="popperRef" class="avatar h-12 w-12">
            <img class="rounded-full" src="https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>" alt="avatar" />
          </button>

          <div :class="isShowPopper && 'show'" class="popper-root fixed" x-ref="popperRoot">
            <div class="popper-box w-64 rounded-lg border border-slate-150 bg-white shadow-soft dark:border-navy-600 dark:bg-navy-700">
              <div class="flex flex-col pt-2 pb-5">
                <a href="/dashboard" class="group flex items-center space-x-3 py-2 px-4 tracking-wide outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600">
                  <div class="flex h-8 w-8 items-center justify-center rounded-lg bg-warning text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                    </svg>
                  </div>
                </a>
                <div class="mt-3 px-4">
<a href="/dashboard" class="btn h-9 w-full space-x-2 bg-primary text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover-bg-accent-focus dark:focus-bg-accent-focus dark:active-bg-accent/90">
<button>
<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
</svg>
<span>Back to Dashboard</span>
</button>
</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
     <!-- Main Sidebar -->
      <div class="main-sidebar">
        <div class="flex h-full w-full flex-col items-center">
          <!-- Application Logo -->
          <div class="flex pt-4">
            <a href="/">
              <img class="h-11 w-11 transition-transform duration-500 ease-in-out hover:rotate-[360deg]" src="<%= settings.logo %>" alt="logo" />
            </a>
          </div>

          <!-- Main Sections Links -->
          <div class="is-scrollbar-hidden flex grow flex-col space-y-4 overflow-y-auto pt-6">
            <ul>
            <li>
              <a href="/admin" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Admin Home'">
                <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase">dock_to_bottom</span>
              </a>
            </li>
            <li>
              <a href="/admin/coins" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Admin Coins'">
                <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase">currency_exchange</span>
              </a>
            </li>
            <li>
                <a href="/admin/resources" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Admin Resources'">
                  <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase">memory</span>
                </a>
              </li>
              <li>
                <a href="/admin/plans" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Admin Plans'">
                  <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase">language</span>
                </a>
              </li>
              <li>
                <a href="/admin/coupons" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Admin Coupons'">
                  <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase">confirmation_number</span>
                </a>
              </li>
              <li>
                <a href="/admin/misc" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Admin Miscellaneous'">
                  <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase">format_align_justify</span>
                </a>
              </li>
          </ul>
          </div>

          <!-- Bottom Links -->

        </div>
      </div>
      <div class="sidebar-panel">
    <div class="flex h-full grow flex-col pl-[var(--main-sidebar-width)] bg-zinc-800">
      <!-- Sidebar Panel Header -->
      <div class="flex h-18 w-full items-center justify-between pl-4 pr-1">
        <div class="flex items-center">
          <p class="text-lg font-medium tracking-wider text-slate-800 line-clamp-1 dark:text-navy-100">
            KlovitClient
          </p>
        </div>
        <button @click="$store.global.isSidebarExpanded = false" class="btn h-7 w-7 rounded-full p-0 text-primary hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:text-accent-light/80 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25 xl:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>
      </div>

      <!-- Sidebar Panel Body -->
      <div class="flex h-[calc(100%-4.5rem)] grow flex-col">
        <div class="is-scrollbar-hidden grow overflow-y-auto">
          <div x-data="{expanded:true}">
            <div x-show="expanded" x-collapse>
              <ul class="space-y-1.5 px-2 pt-1 font-inter text-xs+ font-medium">
                <li>
                    <div class="flex items-center space-x-2">
                      <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/admin">
                      <span class="material-symbols-outlined text-xs font-medium uppercase">dock_to_bottom</span><span class="text-xs font-medium uppercase">Admin Home</span>
                    </a>
                  </div>
                </li>
                <li>
                    <div class="flex items-center space-x-2">
                      <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/admin/coins">
                      <span class="material-symbols-outlined text-xs font-medium uppercase">currency_exchange</span><span class="text-xs font-medium uppercase">Admin Coins</span>
                      </a>
                      </div>
                </li>
                <li>
                      <div class="flex items-center space-x-2">
                        <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/admin/resources">
                        <span class="material-symbols-outlined text-xs font-medium uppercase">memory</span><span class="text-xs font-medium uppercase">Admin Resources</span>
                      </a>
                    </div>
                  </li>
                  <li>
                      <div class="flex items-center space-x-2">
                        <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/admin/plans">
                        <span class="material-symbols-outlined text-xs font-medium uppercase">language</span><span class="text-xs font-medium uppercase">Admin Plans</span>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="flex items-center space-x-2">
                      <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/admin/coupons">
                        <span style="font-size: small;" class="material-symbols-outlined">confirmation_number</span><span class="text-xs font-medium uppercase">Admin Coupons</span>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="flex items-center space-x-2">
                    <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/admin/misc">
                      <span style="font-size: small;" class="material-symbols-outlined">format_align_justify</span><span class="text-xs font-medium uppercase">Admin Miscellaneous</span>
                  </a>
                </div>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>