<% if (settings.ads.enabled == true) { %>
    <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
    <div class="p-2 flex-wrap">
      <div style="border: thin solid #474343;" class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
        <h4 class="card-title">Advertisement</h4>
          <div class="row">
                    <!-- Advertisement code here -->
        </div>
      </div>
    </div>
  </div>
  <% } %>
