<footer style="background-color: #0302533f" class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© <%= settings.name %> | Powered by <a style="color: white" href="https://github.com/Klovit/KlovitClient/">KlovitClient</a></span>
    </div>
</footer>