     <!-- Main Sidebar -->
      <div class="main-sidebar">
        <div class="flex h-full w-full flex-col items-center">
          <!-- Application Logo -->
          <div class="flex pt-4">
            <a href="/">
              <img class="h-11 w-11 transition-transform duration-500 ease-in-out hover:rotate-[360deg]" src="<%= settings.logo %>" alt="logo" />
            </a>
          </div>

          <!-- Main Sections Links -->
          <div class="is-scrollbar-hidden flex grow flex-col space-y-4 overflow-y-auto pt-6">
            <ul>
            <li>
              <a href="/dashboard" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Dashboard'">
                <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase">dock_to_bottom</span>
              </a>
            </li>
            <li>
              <a href="/settings" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Settings'">
                <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase">settings</span>
              </a>
            </li>
            <% if (settings.api.client.coins.enabled) { %>
            <li>
              <a href="/earn" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Earn Coins'">
                <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase">monetization_on</span>
              </a>
            </li>
            <% if (settings.api.client.coins.store.enabled) { %>
            <li>
              <a href="/store" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Store'">
                <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase md-sbi">shopping_cart</span>
              </a>
            </li>
            <% } %>
            <% } %>
            <% if (settings.api.client.gift.enabled) { %>
              <li>
                <a href="/gift" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Gift'">
                  <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase md-sbi">featured_seasonal_and_gifts</span>
                </a>
              </li>
              <% } %>
              <li>
                <a href="/redeem" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Redeem'">
                  <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase md-sbi">confirmation_number</span>
                </a>
              </li>
              <% if (pterodactyl.root_admin == true) { %>
                <li>
                  <a href="/admin" class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25" x-tooltip.placement.right="'Admin'">
                    <span style="size: 50px; font-size: x-large;" class="material-symbols-outlined text-xs font-medium uppercase">shield_person</span>
                  </a>
                </li>
                <% } %>
          </ul>
          </div>
        </div>
      </div>
      <div class="sidebar-panel">
    <div class="flex h-full grow flex-col pl-[var(--main-sidebar-width)] bg-zinc-800">
      <!-- Sidebar Panel Header -->
      <div class="flex h-18 w-full items-center justify-between pl-4 pr-1">
        <div class="flex items-center">
          <p class="text-lg font-medium tracking-wider text-slate-800 line-clamp-1 dark:text-navy-100">
            KlovitClient
          </p>
        </div>
        <button @click="$store.global.isSidebarExpanded = false" class="btn h-7 w-7 rounded-full p-0 text-primary hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:text-accent-light/80 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25 xl:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>
      </div>

      <!-- Sidebar Panel Body -->
      <div class="flex h-[calc(100%-4.5rem)] grow flex-col">
        <div class="is-scrollbar-hidden grow overflow-y-auto">
          <div x-data="{expanded:true}">
            <div x-show="expanded" x-collapse>
              <ul class="space-y-1.5 px-2 pt-1 font-inter text-xs+ font-medium">
                <li>
                    <div class="flex items-center space-x-2">
                      <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/dashboard">
                      <span class="material-symbols-outlined text-xs font-medium uppercase">dock_to_bottom</span><span class="text-xs font-medium uppercase">Dashboard</span>
                    </a>
                  </div>
                </li>
                <li>
                    <div class="flex items-center space-x-2">
                      <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/settings">
                      <span class="material-symbols-outlined text-xs font-medium uppercase">settings</span><span class="text-xs font-medium uppercase">Settings</span>
                      </a>
                      </div>
                </li>
                <% if (settings.api.client.coins.enabled) { %>
                <li>
                      <div class="flex items-center space-x-2">
                        <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/earn">
                        <span class="material-symbols-outlined text-xs font-medium uppercase">monetization_on</span><span class="text-xs font-medium uppercase">Earn Coins</span>
                      </a>
                    </div>
                  </li>
                  <% if (settings.api.client.coins.store.enabled) { %>
                  <li>
                      <div class="flex items-center space-x-2">
                        <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/store">
                        <span class="material-symbols-outlined text-xs font-medium uppercase">shopping_cart</span><span class="text-xs font-medium uppercase">Store</span>
                      </a>
                    </div>
                  </li>
                  <% } %>
                  <% } %>
                  <% if (settings.api.client.gift.enabled) { %>
                    <li>
                      <div class="flex items-center space-x-2">
                        <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/gift">
                          <span class="material-symbols-outlined text-xs font-medium uppercase">featured_seasonal_and_gifts</span><span class="text-xs font-medium uppercase">Gift</span>
                      </a>
                      </div>
                    </li>
                    <% } %>
                    <li>
                      <div class="flex items-center space-x-2">
                        <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/redeem">
                          <span class="material-symbols-outlined text-xs font-medium uppercase">confirmation_number</span><span class="text-xs font-medium uppercase">Redeem</span>
                      </a>
                      </div>
                    </li>
                    <% if (pterodactyl.root_admin == true) { %>
                      <li>
                        <div class="flex items-center space-x-2">
                          <a class="group flex justify-between space-x-2 rounded-lg p-2 tracking-wide text-slate-800 outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:text-navy-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600" href="/admin">
                            <span class="material-symbols-outlined text-xs font-medium uppercase">shield_person</span><span class="text-xs font-medium uppercase">Admin</span>
                        </a>
                        </div>
                      </li>
                      <% } %>
              </ul>
            </div>
          </div>
        </div>

        <div class="flex justify-between p-4">
          <button class="btn h-11 w-full justify-between bg-gradient-to-r from-purple-500 to-indigo-600 text-white">
            <span><a href="/dashboard/new">Deploy new server</a></span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
